.rounded-button {
  border-width: 1px;
  /*border-color: #000000;*/
  border-color: rgba(0, 0, 0, 0.3);
  border-style: solid;
  margin: 10px 3px 10px 3px;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
}

.first-rounded-button {
  margin-left: 10px;
}

.loading-animation {
  box-shadow: 0 0 0 0 rgb(247, 77, 77);
  transform: scale(1);
  animation: pulse_animation 2s infinite;
}

@keyframes pulse_animation {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(247, 77, 77);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.disabled {
  opacity: 0.8;
  pointer-events: none;
}
.rkt_row {
  display: flex;
  flex-direction: row;
}
.rkt_col {
  display: flex;
  flex-direction: column;
}

.rkt_account_card {
  margin-bottom: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: box-shadow 83ms;
  background-color: var(--white, #fff);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.rkt_account_card .rkt_button {
  padding: 8px;
  background-color: #0072b1;
  box-shadow: none;
  border: none;
  color: #fff;
  font-weight: 500;
}
.rkt_link {
  padding: 0;
  font-size: 12px;
}
.rkt_desc {
  font-size: 14px;
  margin: 20px 0;
  text-align: center;
}
.rkt_title {
  font-size: 18px;
  font-weight: 600;
}
.p_m_0 {
  padding: 0;
  margin: 0;
}
