.rounded-button {
  border-width: 1px;
  /*border-color: #000000;*/
  border-color: rgba(0, 0, 0, 0.3);
  border-style: solid;
  margin: 10px 3px 10px 3px;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
}

.first-rounded-button {
  margin-left: 10px;
}

.loading-animation {
  box-shadow: 0 0 0 0 rgb(247, 77, 77);
  transform: scale(1);
  animation: pulse_animation 2s infinite;
}

@keyframes pulse_animation {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(247, 77, 77);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.disabled {
  opacity: 0.8;
  pointer-events: none;
}
